{% extends "base.html" %}

{% block content %}

<div class="page-header">
	<h1>About</h1>
</div>

<div class="row">

	<div class="well span8">
		<h2>What?</h2>
		<hr>
		<p class="lead"><b>SensibleDTU: Questionnaires</b> is part of <a href="http://www.sensible.dtu.dk/"><b>Sensible DTU</b></a> project. It is an application for filling out questionnaires.</p>
		<p>The back-end of this application enables creation of online surveys with no need for any programming. The current feature set is:</p>
		<ul>
			<li>Generation of online surveys from an Excel spreadsheet
			<li>Dynamic saving of the answers - the participant can drop the survey at any point and come back to where they left later
			<li>Input validation
			<li>Support for a number of question types: single choice, multiple choice, number/time inputs, grid questions, free text, and more
			<li>It's <strong>free</strong> and <strong>open-source</strong>!
		</ul>
		<p>Contact Piotr from more details!</p>
	</div>
	
	<div class="well span3">
		<h2>Credits</h2>
		<hr>
		<p class="lead"><b>Piotr Sapiezynski</b>, pisa@dtu.dk</p>
		<p class="lead"><b>Arkadiusz Stopczynski</b>, arks@dtu.dk</p>
		<p class="lead"><b>Sune Lehmann</b>, sljo@dtu.dk</p>
	</div>




</div>

{% endblock %}
