{% extends "base.html" %}

{% block content %}

<div class="page-header">
	<h1>About</h1>
</div>

<div class="row">

	<div class="well span5">
		<h2>What?</h2>
		<hr>
		<p class="lead"><b>SensibleDTU: Questionnaires</b> is part of <a href="http://www.sensible.dtu.dk/"><b>Sensible DTU</b></a> project. It is an application for filling out questionnaires.</p>
	</div>
	
	<div class="well span5">
		<h2>Credits</h2>
		<hr>
		<p class="lead"><b>Piotr Sapiezynski</b>, pisa@dtu.dk</p>
		<p class="lead"><b>Arkadiusz Stopczynski</b>, arks@dtu.dk</p>
		<p class="lead"><b>Sune Lehmann</b>, sljo@dtu.dk</p>
	</div>




</div>

{% endblock %}
