{% extends "base.html" %}

{% block content %}
	<script>
		var actor;

		function isNumber(n) {
			return !isNaN(parseFloat(n)) && isFinite(n);
		}

		function isInteger(n) {
			if (!isNaN(n)) {
				return n.indexOf(".") == -1;
			}
			return false;
		}


		function isValidInputForNumberField(field) {
			if (field.value.length > 0) {
				if (isNumber(field.value)) {
					var n = parseFloat(field.value);
					if ((n >= field.min) && (n <= field.max)) {
						return true;
					} else {
						return false;
					}
				} else {
					return false;
				}
			} else {
				return false;
			}	
		}

		function isValidValueForTimeField(val) {
			if (val.length > 3) {
				parts = val.split(':');
				if (parts.length != 2) {
					parts = val.split('.');
					if (parts.length != 2) {
						parts = val.split(',');
						if (parts.length != 2) {
							return false;
						}
					}
				}
				if (isInteger(parts[0]) && isInteger(parts[1])) {
					var hours = parseInt(parts[0]);
					var minutes = parseInt(parts[1]);
					if ((hours >= 0) && (hours <= 24) && (minutes >= 0) && (minutes < 60)) {
						return true;
					}
				}
			}
			return false;
		}

		function markRowSuccess(event) {
			row = document.getElementById(event.name);
			row.className = 'success';
		}

		function validateForm()
		{
			if (actor == 'prev') {
				return true;
			}
			var required_vars;
			try{
				required_vars = document.forms["myform"]["__required_vars"].value;
			} catch(err) {
				// no required vars specified, must be a header
				return true;
			}
			required_vars = required_vars.split(',');
			for (var idx=0; idx<required_vars.length; idx++) {
				// check if radio group:
				var nodelist = false;
				if (document.forms["myform"][required_vars[idx]] instanceof NodeList) {
					nodelist = true;
				} else if (document.forms["myform"][required_vars[idx]] instanceof HTMLCollection) {
					nodelist = true;
				}
				if (nodelist) {
					var answered = false;
					for (var inner_idx=0; inner_idx < document.forms["myform"][required_vars[idx]].length; inner_idx++) {
						var counter = 0;
						if (document.forms["myform"][required_vars[idx]][inner_idx].type == "radio") {
							if (document.forms["myform"][required_vars[idx]][inner_idx].checked) {
								answered = true;
								break;
							} 
							// if it went to the end of the question and it is still not answered, return false
							if ((inner_idx == document.forms["myform"][required_vars[idx]].length - 1) && (!answered)) {
								document.getElementById("answer_alert").style.display = "block";
								return false;
							}
						}
						else if (document.forms["myform"][required_vars[idx]][inner_idx].type == "checkbox") {
							if (document.forms["myform"][required_vars[idx]][inner_idx].checked) {
								if (document.forms["myform"]["__required_answer_count"].value > -1) {
									counter +=1;
									if (counter >= document.forms["myform"]["__required_answer_count"].value) {
										answered = true;
										break;
									}
								} else {
									answered = true;
									break;
								}
							}
					
						}
						else if (document.forms["myform"][required_vars[idx]][inner_idx].max !== undefined) {
							if (isValidInputForNumberField(document.forms["myform"][required_vars[idx]][inner_idx])) {
								answered = true;
							}
						}
					}
				}
				else {
					try {
						if ((document.forms["myform"][required_vars[idx]].max !== undefined) && (document.forms["myform"][required_vars[idx]].max != "")) { // if this is a number field
							if (isValidInputForNumberField(document.forms["myform"][required_vars[idx]])) {
								answered = true;
								continue;
							} else {
								answered = false;
								document.forms["myform"][required_vars[idx]].value = "";
								break;
							}
						} 
						if (document.forms["myform"][required_vars[idx]].className.indexOf('time') > -1) { // if this is a time field
							if (isValidValueForTimeField(document.forms["myform"][required_vars[idx]].value)) {
								answered = true;
								continue;
							} else {
								answered = false;
								document.forms["myform"][required_vars[idx]].value = "";
								break;
							}
						}
						throw true;
					} catch (err) {
						if (document.forms["myform"][required_vars[idx]].value == null || document.forms["myform"][required_vars[idx]].value == "") {
							//document.forms["myform"][required_vars[idx]].className = 'control-group error';
							answered = false;
							break;
						} else {
							answered = true;
						}
					}
				}
			}
			if (!answered) {
				document.getElementById("answer_alert").style.display = "block";
				return false;
			}

		}
	</script>
		<!-- progress bar goes here -->
		<div class="progress">
  			<div class="bar" style="width: {{ progress }}%;">{{ int_progress }}</div>
		</div>        
		<!-- deciding on the heading -->
		{% if last_page %}
			<h1>Tak for din deltagelse!</h1>
			<p>Tak! Du har besvaret alle spørgsmålene. Gennemgå dine svar, eller tryk på "Indsend besvarelse" for at afslutte.</p>
			<p>Du vil ikke være i stand til at ændre dine svar, efter du har trykket "Indsend besvarelse"!</p>
		{% endif %}
		
		<!-- display the error message -->
		{% if unanswered %}
			<div class="alert alert-error" id="answer_alert">
		{% else %}
			<div class="alert alert-error" id="answer_alert" style="display:none">
		{% endif %}
				Besvar spørgsmålet, før du fortsætter.
			</div>
    	<form action="" method="post" name="myform" onsubmit="return validateForm()" autofocus="autofocus">
			<fieldset>
				{% csrf_token %}
				
				<!-- display the question? -->
				{% if last_page %}
					<input type="hidden" name="__question_name" value="__goodbye" />
				{% else %}
					{{ question|safe }} 
				{% endif %}

				<div class="form-actions">
				
					<!-- Which buttons to display? -->
					{% if last_page %}
						<button type="submit" onclick="actor='prev'" name="_prev" class="btn"><i class="icon-chevron-left"></i> Tilbage</button>
						<button type="submit" name="_from_top" class="btn"><i class="icon-refresh"></i> Begynd igen</button>
						<button type="submit" name="_quit" class="btn btn-primary"><i class="icon-ok-sign icon-white"></i> Indsend besvarelse</button>
					{% else %}
						<button type="submit" onclick="actor='next_new'" name="_next_new" class="btn btn-primary">Næste ubesvarede <i class="icon-chevron-right"></i><i class="icon-chevron-right"></i></button> 	
						<button type="submit" onclick="actor='prev'" name="_prev" class="btn"><i class="icon-chevron-left"></i> Tilbage</button>
						<button type="submit" onclick="actor='next'" name="_next" class="btn" id="next_button">Næste <i class="icon-chevron-right"></i> </button>
					{% endif %}
			</fieldset>
		</form>


{% endblock %}
