{% extends "base.html" %}

{% block content %}
	<script>
	var goodBackColor = "rgb(223, 240, 216)";
	var badBackColor = "rgb(242, 222, 222)";
	var warningBackColor = "rgb(252, 248, 227)";
		var actor;

		function isNumber(n) {
			return !isNaN(parseFloat(n)) && isFinite(n);
		}

		function isInteger(n) {
			if (!isNaN(n)) {
				return (n.indexOf(".") == -1) && (n.indexOf(",") == -1)
			}
			return false;
		}

$(function () {
    $("document").ready(function () {

        function extractor(query) {
            var result = /([^\n]+)$/.exec(query);
            if(result && result[1])
                return result[1].trim();
            return '';
        }
        sumto100();
        var items =  $("#autocomplete").data().source;

       $("#autocomplete").typeahead({
            source: function(query, process) {

                return items;
            },
	        updater: function(item) {

                var currentText = this.$element.val().replace(/[^\n]*$/,'');
                var currentItems = currentText.split("\n");

                var itemIndex = items.indexOf(item);
                if (itemIndex > -1) items.splice(itemIndex, 1);

                return this.$element.val().replace(/[^\n]*$/,'')+item+'\n';
            },
            matcher: function (item) {
                var tquery = extractor(this.query);
                if(!tquery) return false;
                return ~item.toLowerCase().indexOf(tquery.toLowerCase())
            },
            highlighter: function (item) {
                var query = extractor(this.query).replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, '\\$&');
                return item.replace(new RegExp('(' + query + ')', 'ig'), function ($1, match) {
                    return '<strong>' + match + '</strong>'
                })
            }
	    
        });

    });
});
		function isValidInputForNumberField(field) {
			if (field.value.length > 0) {
				if (isNumber(field.value)) {
					var n = parseFloat(field.value);
					if ((n >= field.min) && (n <= field.max)) {
						return true;
					} else {
						return false;
					}
				} else {
					return false;
				}
			} else {
				return false;
			}	
		}

		function sumto100() {
			var fields = document.getElementsByClassName('sum_to_100');
			if (fields.length == 0) return true;
			var sum = 0;
			for (var i=0; i < fields.length; i++) {
				var temp = parseInt(fields[i].value)
				if (temp > 0) {sum += parseInt(temp);}
				
			}
			var wrapper = document.getElementById('field_sum');
			wrapper.style.display="block";
			var counter = document.getElementById('field_sum_value');
			counter.innerHTML = sum;
			if (sum == 100) {
				wrapper.className = "alert alert-success";
				return true;
			} else if (sum < 100) {
				wrapper.className = "alert alert-info";
				return false;
			} else {
				wrapper.className = "alert alert-error";
				return false;
			}
		}

		function isValidValueForTimeField(val) {
			if ((val.length > 3)  && (val.length < 6)) {
				parts = val.split(':');
				if (parts.length != 2) {
					return false;
				}
				if ((parts[0].length > 2) || (parts[1].length != 2)) {
					return false;
				}
				if (isInteger(parts[0]) && isInteger(parts[1])) {
					var hours = parseInt(parts[0]);
					var minutes = parseInt(parts[1]);
					if ((hours >= 0) && (hours <= 24) && (minutes >= 0) && (minutes < 60)) {
						return true;
					}
				}
			}
			return false;
		}
		function pad(n, width, z) {
 			z = z || '0';
  			n = n + '';
  			return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
		}

		function markRowSuccess(event) {
			row = document.getElementById(event.name);
			row.className = 'success';
		}

		function markDivSuccess(event) {
			row = document.getElementById(event.name);
			row.style.backgroundColor = goodBackColor;			
		}

		function processTimeField(element,maxval) {
			if (element.value == "") {return false;}
			element.value = element.value.replace('.',':').replace(',',':')
			if (element.value.split(':').length == 1) { //there is no separator
				var val = parseInt(element.value);
				if (isNumber(val) && val <= maxval) {
					element.value = val + ':00';
					return true;
				} else {
					element.value = "";
					return false;
				}
			} else { // there is a separator
				var parts = element.value.split(':');

				if (isNumber(parts[0]) && isNumber(parts[1])) {
					parts[0] = parseInt(parts[0]);
					parts[1] = parseInt(parts[1]);
					if (parts[0] <= maxval || (parts[0] == maxval && parts[1] == 0)) {
						element.value = parts[0] + ':' + pad(parts[1], 2, 0);
						return true;
					}
				} else {
					element.value = "";
					return false;
				}
			}
		}

		function timeFieldChanged(element,maxval) {
			if (processTimeField(element,maxval)) {
				element.style.background = goodBackColor;
			} else {
				element.style.background = badBackColor;
			}
		}

		function validateForm()
		{
			if (actor == 'prev') {
				return true;
			}
			var skipping = false;
			if (actor == 'skip') {
				skipping = true;
			}
			var required_vars;
			try{
				required_vars = document.forms["myform"]["__required_vars"].value;
			} catch(err) {
				// no required vars specified, must be a header
				return true;
			}
			required_vars = required_vars.split(',');
			if ((required_vars.length == 1) && (skipping)) {
				// there is only one question and we're skipping it, so we're done
				return true;
			}
			var var_counter = 0;
			for (var idx=0; idx<required_vars.length; idx++) {
				// check if radio group:
				var inner_var_counter = 0;
				var nodelist = false;
				if (document.forms["myform"][required_vars[idx]] instanceof NodeList) {
					nodelist = true;
				} else if (document.forms["myform"][required_vars[idx]] instanceof HTMLCollection) {
					nodelist = true;
				}
				if (nodelist) {
					var answered = false;
					var counter = 0;
					for (var inner_idx=0; inner_idx < document.forms["myform"][required_vars[idx]].length; inner_idx++) {
						var sub_answered = false;
						if (document.forms["myform"][required_vars[idx]][inner_idx].type == "radio") {
							if (document.forms["myform"][required_vars[idx]][inner_idx].checked) {
								var_counter +=1;
								sub_answered = true;
								break;
							} else {
								// maybe it's a grid question
								try {  
									if ((document.getElementById(required_vars[idx]).className == 'warning') || (document.getElementById(required_vars[idx]).style.backgroundColor == warningBackColor)) {
										var_counter += 1;
										sub_answered = true;
										break;
									}
								} catch(err) {
									// it wasn't.
								}
							}
							// if it went to the end of the question and it is still not answered, return false
							if ((inner_idx == document.forms["myform"][required_vars[idx]].length - 1) && (!sub_answered)) {
								if (required_vars.length == 1) {
									answered = false;
									var alert_div = document.getElementById("answer_alert");
									alert_div.style.display = "block";
									if ((document.getElementById("skip_button") == null) && (parseInt(document.forms["myform"]['__required'].value) == 0)) {
										alert_div.innerHTML += "<button type=\"submit\" onclick=\"actor='skip'\" name=\"_skip\" class=\"btn\" id=\"skip_button\"><i class=\"icon-remove-circle\"></i> Jeg ønsker ikke at besvare dette spørgsmål</button>";
									}
									return false;
								}
								row = document.getElementById(required_vars[idx]);
								if (skipping) {

									if (row.className == 'error') {
										row.className = 'warning';
										skipping = false;
										var_counter += 1;
										break;
									} else if (row.style.backgroundColor == badBackColor) {
										row.style.backgroundColor = warningBackColor;
										skipping = false;
										var_counter +=1;
										break;
									}
								} else {
									if (row.className == 'row') {
										row.style.backgroundColor = badBackColor;
									} else {
										row.className = 'error';
									}
									var alert_div = document.getElementById("answer_alert");
									alert_div.style.display = "block";
									if ((document.getElementById("skip_button") == null) && (parseInt(document.forms["myform"]['__required'].value) == 0)) {
										alert_div.innerHTML += "<button type=\"submit\" onclick=\"actor='skip'\" name=\"_skip\" class=\"btn\" id=\"skip_button\"><i class=\"icon-remove-circle\"></i> Jeg ønsker ikke at besvare dette spørgsmål</button>";
									}
								}
								//return false;
							}

						}
						else if (document.forms["myform"][required_vars[idx]][inner_idx].type == "checkbox") {
							if (document.forms["myform"][required_vars[idx]][inner_idx].checked) {
								if (document.forms["myform"]["__required_answer_count"].value > -1) {
									counter +=1;
									if (counter >= document.forms["myform"]["__required_answer_count"].value) {
										answered = true;
										break;
									}
								} else {
									answered = true;
									break;
								}
							}
					
						}
						else if (document.forms["myform"][required_vars[idx]][inner_idx].type == "text") {
							var was_skipped = (document.forms["myform"][required_vars[idx]][inner_idx].style.backgroundColor == warningBackColor);
							timeFieldChanged(document.forms["myform"][required_vars[idx]][inner_idx], 24);
							if (processTimeField(document.forms['myform'][required_vars[idx]][inner_idx], 24)) {
								inner_var_counter += 1;
							} else {
								if (skipping) {
									if ((!was_skipped) && (document.forms["myform"][required_vars[idx]][inner_idx].style.backgroundColor == badBackColor)) {
										skipping = false;
									}
									document.forms["myform"][required_vars[idx]][inner_idx].style.backgroundColor = warningBackColor;
									inner_var_counter += 1;									
								}
							}

							
							if (inner_var_counter == document.forms["myform"][required_vars[idx]].length) {
								var_counter +=1

								if (var_counter == required_vars.length) {
									answered = true;
									break;
								}
							}
						}
						else if (document.forms["myform"][required_vars[idx]][inner_idx].max !== undefined) {
							if (isValidInputForNumberField(document.forms["myform"][required_vars[idx]][inner_idx])) {
								answered = true;
							}
						}
					}
				}
				else {
					try {
						if ((document.forms["myform"][required_vars[idx]].min !== undefined) && (document.forms["myform"][required_vars[idx]].min != "")) { // if this is a number field
							if (isValidInputForNumberField(document.forms["myform"][required_vars[idx]])) {
								document.forms["myform"][required_vars[idx]].style.backgroundColor = goodBackColor;
								var_counter += 1;
								
							} else {
								if (skipping) throw true;
								answered = false;
								document.forms["myform"][required_vars[idx]].value = "";
								document.forms["myform"][required_vars[idx]].style.backgroundColor = badBackColor;
							}
							continue;
						}
						if (document.forms["myform"][required_vars[idx]].className.indexOf('time') > -1) { // if this is a time field
							if (isValidValueForTimeField(document.forms["myform"][required_vars[idx]].value)) {
								document.forms["myform"][required_vars[idx]].style.backgroundColor = goodBackColor;
								var_counter += 1;
								continue;
							} else {
								if (skipping) throw true;
								answered = false;
								document.forms["myform"][required_vars[idx]].value = "";
								document.forms["myform"][required_vars[idx]].style.backgroundColor = badBackColor;
							}
						}
						else if (document.forms["myform"][required_vars[idx]].value !== "") {
							var_counter += 1;
							continue;
						}
						throw true;
					} catch (err) {
						if (document.forms["myform"][required_vars[idx]].value == null || document.forms["myform"][required_vars[idx]].value == "") {
							//document.forms["myform"][required_vars[idx]].className = 'control-group error';
							if (document.forms["myform"][required_vars[idx]].style.backgroundColor == warningBackColor) {
								var_counter +=1;
								sub_answered = true;
								continue;
							}
							if ((skipping) && (document.forms["myform"][required_vars[idx]].style.backgroundColor == badBackColor)) {
								var_counter += 1;
								skipping = false;	
								document.forms["myform"][required_vars[idx]].style.backgroundColor = warningBackColor;
							} else {
								sub_answered = false;
								document.forms["myform"][required_vars[idx]].style.backgroundColor = badBackColor;
							}
						}
					}
				}
			}
			if (var_counter == required_vars.length) {
				answered = true;
				if (skipping) {
					return true;
				} else {
					return sumto100();
				}
			}
			if (!answered) {
				var alert_div = document.getElementById("answer_alert");
				alert_div.style.display = "block";
				if ((document.getElementById("skip_button") == null) && (parseInt(document.forms["myform"]['__required'].value) == 0)) {
					alert_div.innerHTML += "<button type=\"submit\" onclick=\"actor='skip'\" name=\"_skip\" class=\"btn\" id=\"skip_button\"><i class=\"icon-remove-circle\"></i> Jeg ønsker ikke at besvare dette spørgsmål</button>";
				}
				return false;
			}

		}
	</script>
		<!-- progress bar goes here -->
		<div class="progress">
  			<div class="bar" style="width: {{ progress }}%;">{{ int_progress }}</div>
		</div>        
		<!-- deciding on the heading -->
		{% if last_page %}
			<h1>Tak for din deltagelse!</h1>
			<p>Tak! Du har besvaret alle spørgsmålene. Gennemgå dine svar, eller tryk på "Indsend besvarelse" for at afslutte.</p>
			<p>Du vil ikke være i stand til at ændre dine svar, efter du har trykket "Indsend besvarelse"!</p>
		{% endif %}
		
		<!-- display the error message -->
		<form action="" method="post" name="myform" onsubmit="return validateForm()" autofocus="autofocus">
		{% if unanswered %}
			<div class="alert alert-error" id="answer_alert">
		{% else %}
			<div class="alert alert-error" id="answer_alert" style="display:none">
		{% endif %}
				Besvar venligst spørgsmålet.
				
			</div>
    	
			<fieldset>
				{% csrf_token %}
				<input type="hidden" name="__survey_version" value="{{ survey_version }}" />
				<!-- display the question? -->
				{% if last_page %}
					<input type="hidden" name="__question_name" value="__goodbye" />
				{% else %}
					{{ question|safe }} 
				{% endif %}
				<div id="field_sum" class="alert alert-info" style="display:none">Total: <span id="field_sum_value"></span>%</div>
				<div class="form-actions">
				
					<!-- Which buttons to display? -->
					{% if last_page %}
						<button type="submit" onclick="actor='prev'" name="_prev" class="btn"><i class="icon-chevron-left"></i> Forrige</button>
						<button type="submit" name="_from_top" class="btn"><i class="icon-refresh"></i> Start forfra</button>
						<button type="submit" name="_quit" class="btn btn-primary"><i class="icon-ok-sign icon-white"></i> Indsend besvarelse</button>
					{% else %}
						<button type="submit" onclick="actor='next'" name="_next" class="btn btn-primary" id="next_button">Næste <i class="icon-chevron-right"></i> </button>
						<!--<button type="submit" onclick="actor='next_new'" name="_next_new" class="btn">Næste ubesvarede <i class="icon-chevron-right"></i><i class="icon-chevron-right"></i></button> 	-->
						<button type="submit" onclick="actor='prev'" name="_prev" class="btn"><i class="icon-chevron-left"></i> Forrige</button>
						
					{% endif %}
			</fieldset>
		</form>


{% endblock %}
