{% extends "base.html" %}

{% block content %}

    <div class="well">
        <h1>Welcome to SensibleDTU: Questionnaires</h1>
	{% if user.is_authenticated %}
		<p>Here is a short explanation of what the application is...</p>
		<p><a class="btn btn-primary" href="{% url 'form' %}">Start <i class="icon-chevron-right icon-white"></i></a></p>
	{% else %}
	<p><a class="btn btn-primary" href="{% url 'login' %}"><i class="icon-user icon-white"></i> Login</a></p>
	{% endif %}
    </div>


{% endblock %}
