{% extends "base.html" %}

{% block content %}
<h1>The end!</h1>
<div class="alert alert-success">
	<strong>Du har nu indsendt dine svar!</strong> Tak fordi du udfyldte spørgeskemaet.<br/> 
	<h4>Nu mangler du kun at forbinde din SensibleDTU konto med Facebook (hvis du ikke allerede har gjort det). 
		Klik nedenfor for at gå tilbage til siden med Applikationer - <strong>forbind til Facebook allernederst på den side</strong>.</h4>


<form action="https://www.sensible.dtu.dk/sensible-data" method="GET">
<input type="hidden" name="wpgform_qv" value="1555"/>
<div style="text-align:center;">
<input type="submit" value="Sign up" class="btn btn-primary btn-large"></input>  
</div>
</form>
</div>

{% endblock %}
