{% extends "base.html" %}

{% block content %}
<h1>Tak for din deltagelse!</h1>
<div class="alert alert-success">
	<strong>Du har nu indsendt dine svar!</strong> Tak fordi du udfyldte spørgeskemaet.
	<br>
    <br>
    Youth Gaming Project
    <br>
    Hjemmeside: <a href=http://www.psy.ku.dk/ygp> www.psy.ku.dk/ygp</a>
    <br>
    E-mail: <a href=mailto:ygp.info@psy.ku.dk>ygp.info@psy.ku.dk</a><br>
    Like, del og følg os på Facebook: <a href=http://www.facebook.com/youthgamingproject> www.facebook.com/youthgamingproject</a>"
    <br>
    <br>
    {% if not request.session.is_child %}
		<a class="btn btn-primary" href="{% url 'home_platform' %}">Hjem <i class="icon-chevron-right icon-white"></i></a>		
	{% endif %}
</div>
</form>

{% endblock %}
