{% extends "base.html" %}

{% block content %}
<h1>The end!</h1>
<div class="alert alert-success">
  <strong>Du har nu indsendt dine svar!</strong> tak fordi du udfyldte spørgeskemaet.<br/> Tryk på knappen for at booke tid til udlevering af telefonen.


<form action="https://www.sensible.dtu.dk/" method="GET">
<input type="hidden" name="wpgform_qv" value="1555"/>
<div style="text-align:center;">
<input type="submit" value="Sign up" class="btn btn-primary btn-large"></input>  
</div>
</form>
</div>

{% endblock %}